/* Local styles for schletter_app */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');

html {
  font-size: 18px;
}

a {
  color: #0062cd;
}


.home {
  background: url("images/Kth.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  /* background-color: #f6f7f6; */
  background-color: rgba(244, 247, 249, 0.6);
  padding: 1rem !important;
  border-style: solid;
  border-width: 1px;
  border-color: #787878;
  font-family: 'Playfair Display', serif;
}

.navbar-brand {
  font-family: 'UnifrakturCook', cursive;
  color: #787878 !important;
  margin-bottom: 2px;
}

.indent {
  margin-left: 2rem;
}

.indent p {
  margin-bottom: 6px;
}

.table {
  font-size: 16px;
}

.performance {
  font-size: 16px;
}

.form-control {
  width: 50%;
}

i {  
  color: rgba(0, 0, 0, 0.5) !important;
}

.arrow {
  position: fixed;
  top: 50%;
  font-size: 2rem;
}

#arrow-left {
  left: 10px;
}

#arrow-right {
  right: 50px;
}